a:link {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
a:hover {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color:white;
    text-decoration: none;
}
a:active {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}